.dart_tool/
build/

**/doc/api/

app.*.symbols
app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release

/ios/Flutter/.last_build_id

.packages
.flutter-plugins
.flutter-plugins-dependencies

.pub/
.pub-cache/
pubspec.lock